/Growmont_crm-main/functions/node_modules
/Growmont_crm-main/scripts/node_modules
client_secret_*.json

# Firebase Admin SDK service account keys (any download filename)
*firebase-adminsdk*.json
/Growmont_crm-main/installer/Output
/Growmont_crm-main/installer/Output
Growmont_crm-main/installer/Output/Growmont-Setup-1.0.0.exe
